.banner {
    background-color: #94ff3c;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem 1.5rem 1.75rem 2.0625rem;
    margin: 2.275rem 0 4rem;
    border-radius: 1rem;
}
.banner__text {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
}
.banner__button {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--color-main);
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .banner {
        padding: 1.5rem 1rem 1.5rem 1.5rem;
        display: block !important;
    }
    .banner__text {
        font-size: 1.125rem;
    }
    .banner__button {
        padding: 0.825rem 1.25rem;
        font-size: 1rem;
    }
}