@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: 'SUIT Variable', sans-serif;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}