
.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.mb-3 {margin-bottom: 3rem;}
.mb-4 {margin-bottom: 4rem;}
.text-center {text-align: center;}

.chat-bg {
    background: url(https://i.pinimg.com/736x/be/f3/e3/bef3e3eeedec00005589e24606de1380.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-container {
    display: flex;
    flex-direction: column;
    /* border: 3px solid #eee; */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    width: 390px;
    min-width: 390px;
    max-width: 390px;
    height: 100%;    
    min-height: 200px;
    max-height: 690px;
    /* background: linear-gradient(to bottom, #ffffff, #eefbf4); */
    background: #fff;
    border-radius: 2rem;
    overflow: hidden;
    position: fixed;
    /* bottom: 7rem; */
    bottom: 2rem;
    right: 2rem;
    transition: .3s ease-in-out;
    opacity: 0;
}
.chat-container.active {
    transform: translateY(-5rem);
    opacity: 1;
}
.chat-screen {
    flex-grow: 1;
    min-height: 0;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    position: relative;
}
.chat-screen__bar {
    height: 80px;
    padding: 1rem;
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.chat-screen__bar .btn__back {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-right: 0.5rem;
}
.chat-screen__bar .btn__back i {
    font-size: 1.5rem;
    color: #666;
}
.chat-screen__bar .user {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.chat-screen__bar .user .user__column {

}
.chat-screen__bar .user .user__pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.chat-screen__bar .user .user__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chat-screen__bar .user .user__nick {
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.chat-screen__bar .user .user__status {
    font-size: 0.8rem;
    color: #666;
}
.chat-screen__bar .user .user__status.online {
    color: #2be286;
}
.chat-screen__bar .user .user__status.offline {
    color: #e74c3c;
}

/* chat content */
.chat-screen__content {
    padding: 1rem 1.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
    height: calc(100% - 80px);
}

/* chat form */
.chat-form {
    height: 120px;
    background-color: #fff;
    border-radius: 32px 32px 0 0;
    /* border: 1px solid red; */
    box-shadow: 0 -4px 16px rgba(165, 170, 166, 0.1);
    overflow: hidden;
    padding: 1.5rem 1rem;
}
.chat-form .chat-form__field {
    display: flex;
    position: relative;    
}
.chat-form .chat-form__field .chat-form__msg {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.8rem 3.5rem 0.8rem 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #f7fff2;
    border-radius: 24px;
    border: 1px solid #d6f4c8;
    resize: none;
}
.chat-form .chat-form__field button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    text-indent: -9999px;
    width: 2rem;
    height: 2rem;
    background: #2be286;
    border-radius: 50%;
    border: none;
}
.chat-form .chat-form__field button[type="submit"]:hover {
    background: #27ae60;
}
.chat-form .chat-form__field button[type="submit"]::before {
    content: "\f0d9";
    display: inline-block;
    font-family: remixicon !important;
    font-size: 1rem;
    color: #fff;
    text-indent: 0;
    position: absolute;
    left: 47%;
    top: 54%;
    transform: translate(-50%, -50%);
}

.btn-chat {
    width: 9rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid red; */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
}
.btn-chat img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

@media screen and (max-width: 1024px) {
    .btn-chat {
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 1rem;
        background-color: #fff;
    }
    .btn-chat img {
        position: absolute;
        top: -5%;
        left: -16%;
        width: auto;
        height: 125%;
        object-fit: contain;
    }
}